Repository 3uclid3/ant: changes, and which Codecov flags are due for each by the changed paths.
All: core, database

add ant benchmarks • dynamic_bitset (googlecpp) benchmark result for bf9b8ee5e3e934483eb7665d0f40c9e5f3764f07
  dev/bench/data.js
Due: none

feat(database): add type-safe query system and builder
  include/ant/core/type_list.hpp
  include/ant/database/component_bitset.hpp
  include/ant/database/detail/base_query.hpp
  include/ant/database/detail/query_builder.hpp
  include/ant/database/detail/query_cursor.hpp
  include/ant/database/detail/query_signature_traits.hpp
  include/ant/database/detail/table.hpp
  include/ant/database/query.hpp
  include/ant/database/query_fwd.hpp
  include/ant/database/schema.hpp
  src/database/detail/query_builder.cpp
  src/database/detail/query_cursor.cpp
  src/database/detail/table.cpp
  tests/unit/ant.test.unit/database/detail/query_signature_traits.unit.cpp
  tests/unit/ant.test.unit/database/query.unit.cpp
Due: core, database

test: reorder doctest includes for consistency
  tests/unit/ant.test.unit/database/detail/catalog.unit.cpp
  tests/unit/ant.test.unit/database/detail/changeset_queue.unit.cpp
Due: none

refactor(database): use component_bitset for component signatures
  include/ant/database/detail/catalog.hpp
  include/ant/database/detail/table.hpp
Due: database

docs: rename select query types to query and query_row
  docs/stories/query.md
Due: none

refactor(query): removes commented legacy code from query_cursor
  include/ant/database/detail/query_cursor.hpp
Due: database

chore(query): remove unused column_of helper from base_query
  include/ant/database/detail/base_query.hpp
Due: database

fix(query): correct cursor advancement and add tests
  src/database/detail/query_cursor.cpp
  tests/unit/ant.test.unit/database/detail/query.cursor.unit.cpp
Due: none

feat(database): add compile-time query_row tests
  tests/compile/ant.test.compile/database/detail/query/query_row_supported_const_get.compile.pass.cpp
  tests/compile/ant.test.compile/database/detail/query/query_row_supported_const_has.compile.pass.cpp
  tests/compile/ant.test.compile/database/detail/query/query_row_supported_const_try_get.compile.pass.cpp
  tests/compile/ant.test.compile/database/detail/query/query_row_supported_get.compile.pass.cpp
  tests/compile/ant.test.compile/database/detail/query/query_row_supported_has.compile.pass.cpp
  tests/compile/ant.test.compile/database/detail/query/query_row_supported_try_get.compile.pass.cpp
  tests/compile/ant.test.compile/database/detail/query/query_row_unsupported_const_get.compile.fail.cpp
  tests/compile/ant.test.compile/database/detail/query/query_row_unsupported_const_has.compile.fail.cpp
  tests/compile/ant.test.compile/database/detail/query/query_row_unsupported_const_try_get.compile.fail.cpp
  tests/compile/ant.test.compile/database/detail/query/query_row_unsupported_get.compile.fail.cpp
  tests/compile/ant.test.compile/database/detail/query/query_row_unsupported_has.compile.fail.cpp
  tests/compile/ant.test.compile/database/detail/query/query_row_unsupported_try_get.compile.fail.cpp
Due: none

ci: use llvm toolchain for xmake configure in nightly workflow
  .github/workflows/nightly.yml
Due: none

ci: use llvm toolchain for xmake configure in nightly workflow (#108)
  .github/workflows/nightly.yml
Due: none

add ant benchmarks • dynamic_bitset (googlecpp) benchmark result for 5d82c00f5f88388a9522b3c8ef968170bb51c2ff
  dev/bench/data.js
Due: none

add ant benchmarks • dynamic_bitset (googlecpp) benchmark result for 187780514e96691a5371b259e0a0e5f604068640
  dev/bench/data.js
Due: none

feat(database): use dynamic_bitset for per-component table maps
  include/ant/database/detail/catalog.hpp
Due: database

test(database): expand query_signature_traits unit assertions
  tests/unit/src/database/detail/query_signature_traits.unit.cpp
Due: none

fix(database/query): make query::begin skip leading empty tables
  include/ant/database/query.hpp
  tests/unit/src/database/query.unit.cpp
Due: database

fix(database/query_cursor): add null/bounds assertions
  src/database/detail/query_cursor.cpp
Due: none

Path conditions:
  core: any of: include/ant/core/**, src/ant/core/**
  database: any of: include/ant/database/**, src/ant/database/**
