Repository 3uclid3/ant: changes, and which Codecov flags are due for each by the changed paths.
All: core, database

codecov.yml:

---
coverage:
  precision: 2
  round: down
  range: "85...100"
  status:
    project:
      default:
        target: 85%
        threshold: 15%
        paths:
          - "include/**"
          - "src/**"
    patch:
      default:
        informational: true
        target: 75%
        threshold: 100%

comment:
  layout: "condensed_header, components, tree, condensed_footer"
  show_critical_paths: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: ant_core
      name: core
      paths:
        - include/ant/core/**
        - src/ant/core/**
    - component_id: ant_database
      name: database
      paths:
        - include/ant/database/**
        - src/ant/database/**

fix(table): ensure correct stride calculation
  include/ant/database/detail/component_meta.hpp
Due: database

add ant benchmarks • dynamic_bitset (googlecpp) benchmark result for 8ba0853f8b20ccb906d3c2268e310550c6ec9e39
  dev/bench/data.js
Due: none

refactor(table)!: redesign table & column storage and APIs (#83)
  include/ant/database/detail/component_meta.hpp
  include/ant/database/detail/component_vtable.hpp
  include/ant/database/detail/entity_traits.hpp
  include/ant/database/detail/table.hpp
  include/ant/database/detail/table_column.hpp
  include/ant/database/detail/table_signature.hpp
  src/database/detail/table.cpp
  src/database/detail/table_column.cpp
  tests/compile/ant.test.compile/database/detail/component_vtable_of_with_throw_copy.compile.pass.cpp
  tests/compile/ant.test.compile/database/detail/component_vtable_of_with_throw_dtor.compile.fail.cpp
  tests/compile/ant.test.compile/database/detail/component_vtable_of_with_throw_move.compile.fail.cpp
  tests/compile/xmake.lua
  tests/shared/ant.test.shared/database/component.cpp
  tests/shared/ant.test.shared/database/component.hpp
  tests/shared/ant.test.shared/database/component_types.hpp
  tests/shared/ant.test.shared/database/schema.hpp
  tests/shared/ant.test.shared/database/table.hpp
  tests/shared/ant.test.shared/doctest/check.hpp
  tests/unit/ant.test.unit/database/detail/table.unit.cpp
  tests/unit/ant.test.unit/database/detail/table_column.unit.cpp
  tests/unit/ant.test.unit/database/detail/table_signature.unit.cpp
Due: database

chore: add clangd config to enforce C++23 language mode
  .clangd
Due: none

chore(clangd): Simplifies clangd compile flags
  .clangd
Due: none

chore: add clangd config to enforce C++23 language mode (#85)
  .clangd
Due: none

feat(database): add PMR memory-resource support and make schema movable
  include/ant/database/detail/table.hpp
  include/ant/database/schema.hpp
  src/database/detail/table.cpp
Due: database

feat(database): make schema non-instantiable
  include/ant/database/schema.hpp
Due: database

feat(database): add PMR memory-resource support and make schema movable (#86)
  include/ant/database/detail/table.hpp
  include/ant/database/schema.hpp
  src/database/detail/table.cpp
Due: database

feat(database): add PMR-backed storage for env
  include/ant/database/env.hpp
  src/database/env.cpp
Due: database

fix(env): call destructor on deallocate and add bounds check
  include/ant/database/env.hpp
  src/database/env.cpp
Due: database

feat(database): add PMR-backed env and make schema movable (#87)
  include/ant/database/env.hpp
  src/database/env.cpp
Due: database

feat(database): add schema::bitset_for and tests
  include/ant/database/schema.hpp
  tests/unit/ant.test.unit/database/schema.unit.cpp
Due: database

test(schema): Adds edge-case tests for bitset_for and index_of
  tests/unit/ant.test.unit/database/schema.unit.cpp
Due: none

fix(schema): make bitset_for() a const method
  include/ant/database/schema.hpp
Due: database

feat(database): add schema::bitset_for and tests (#88)
  include/ant/database/schema.hpp
  tests/unit/ant.test.unit/database/schema.unit.cpp
Due: database

add ant benchmarks • dynamic_bitset (googlecpp) benchmark result for 4e7c70e1b2d76e9fd4070c36d93c3d4261036336
  dev/bench/data.js
Due: none

test: centralize doctest setup and add vector printer
  tests/shared/ant.test.shared/doctest.hpp
  tests/shared/ant.test.shared/doctest/check.hpp
  tests/unit/ant.test.unit/core/assert.unit.cpp
  tests/unit/ant.test.unit/core/bit.unit.cpp
  tests/unit/ant.test.unit/core/dynamic_bitset.unit.cpp
  tests/unit/ant.test.unit/core/hash.unit.cpp
  tests/unit/ant.test.unit/core/type_info.unit.cpp
  tests/unit/ant.test.unit/database/detail/component_vtable.unit.cpp
  tests/unit/ant.test.unit/database/detail/entity_registry.unit.cpp
  tests/unit/ant.test.unit/database/detail/entity_traits.unit.cpp
  tests/unit/ant.test.unit/database/detail/table.unit.cpp
  tests/unit/ant.test.unit/database/detail/table_column.unit.cpp
  tests/unit/ant.test.unit/database/env.unit.cpp
  tests/unit/ant.test.unit/database/schema.unit.cpp
  tests/unit/ant.test.unit/database/schema_builder.unit.cpp
  tests/unit/ant.test.unit/main.cpp
  tests/unit/ant.test.unit/version.unit.cpp
Due: none

test: centralize doctest setup and add vector printer (#89)
  tests/shared/ant.test.shared/doctest.hpp
  tests/shared/ant.test.shared/doctest/check.hpp
  tests/unit/ant.test.unit/core/assert.unit.cpp
  tests/unit/ant.test.unit/core/bit.unit.cpp
  tests/unit/ant.test.unit/core/dynamic_bitset.unit.cpp
  tests/unit/ant.test.unit/core/hash.unit.cpp
  tests/unit/ant.test.unit/core/type_info.unit.cpp
  tests/unit/ant.test.unit/database/detail/component_vtable.unit.cpp
  tests/unit/ant.test.unit/database/detail/entity_registry.unit.cpp
  tests/unit/ant.test.unit/database/detail/entity_traits.unit.cpp
  tests/unit/ant.test.unit/database/detail/table.unit.cpp
  tests/unit/ant.test.unit/database/detail/table_column.unit.cpp
  tests/unit/ant.test.unit/database/env.unit.cpp
  tests/unit/ant.test.unit/database/schema.unit.cpp
  tests/unit/ant.test.unit/database/schema_builder.unit.cpp
  tests/unit/ant.test.unit/main.cpp
  tests/unit/ant.test.unit/version.unit.cpp
Due: none

feat(database): add catalog for table indexing and matching
  include/ant/database/detail/catalog.hpp
  src/database/detail/catalog.cpp
  tests/shared/ant.test.shared/doctest.hpp
  tests/shared/ant.test.shared/doctest/generator.hpp
  tests/unit/ant.test.unit/database/detail/catalog.unit.cpp
Due: database

fix(catalog): remove implicitly deleted default constructor
  include/ant/database/detail/catalog.hpp
Due: database

feat(dynamic_bitset): add std::hash specialization for basic_dynamic_bitset
  include/ant/core/dynamic_bitset.hpp
Due: core

fix(catalog): Ignore empty component tables when finding seed
  src/database/detail/catalog.cpp
Due: none

chore(catalog): removes unused array include
  include/ant/database/detail/catalog.hpp
Due: database

fix(catalog): delegate non-const at to const and test empty-catalog behavior
  src/database/detail/catalog.cpp
  tests/unit/ant.test.unit/database/detail/catalog.unit.cpp
Due: none

test(catalog): add test for index_of returning npos
  tests/unit/ant.test.unit/database/detail/catalog.unit.cpp
Due: none

test: include in doctest header
  tests/shared/ant.test.shared/doctest.hpp
Due: none

fix(hash): support 32-bit size_t in dynamic bitset hasher
  include/ant/core/dynamic_bitset.hpp
Due: core

feat(database): add catalog for table indexing and matching (#90)
  include/ant/core/dynamic_bitset.hpp
  include/ant/database/detail/catalog.hpp
  src/database/detail/catalog.cpp
  tests/shared/ant.test.shared/doctest.hpp
  tests/shared/ant.test.shared/doctest/generator.hpp
  tests/unit/ant.test.unit/database/detail/catalog.unit.cpp
Due: core, database

chore(ci): disable failing on benchmark alert
  .github/workflows/nightly.yml
Due: none

chore(ci): disable failing on benchmark alert (#91)
  .github/workflows/nightly.yml
Due: none

add ant benchmarks • dynamic_bitset (googlecpp) benchmark result for 853d7dfceaba69ce16ca34e9da77ec286a38360f
  dev/bench/data.js
Due: none

feat(core): support cross-allocator dynamic_bitset operations
  include/ant/core/dynamic_bitset.hpp
  tests/unit/ant.test.unit/core/dynamic_bitset.unit.cpp
Due: core

feat(core): support cross-allocator dynamic_bitset operations (#92)
  include/ant/core/dynamic_bitset.hpp
  tests/unit/ant.test.unit/core/dynamic_bitset.unit.cpp
Due: core

fix(dynamic-bitset): use size() for cross-allocator comparisons
  include/ant/core/dynamic_bitset.hpp
  tests/unit/ant.test.unit/core/dynamic_bitset.unit.cpp
Due: core

fix(dynamic-bitset): use size() for cross-allocator comparisons (#93)
  include/ant/core/dynamic_bitset.hpp
  tests/unit/ant.test.unit/core/dynamic_bitset.unit.cpp
Due: core

docs: refresh UML class diagrams for core and database
  docs/uml/class/core.pu
  docs/uml/class/database.pu
Due: none

docs: refresh UML class diagrams for core and database (#94)
  docs/uml/class/core.pu
  docs/uml/class/database.pu
Due: none
