Repository 3uclid3/ant: changes, and which Codecov flags are due for each by the changed paths.
All: core, database

codecov.yml:

---
coverage:
  precision: 2
  round: down
  range: "85...100"
  status:
    project:
      default:
        target: 85%
        threshold: 5%
        paths:
          - "include/**"
    patch:
      default:
        informational: true
        target: 75%
        threshold: 100%

comment:
  layout: "condensed_header, components, tree, condensed_footer"
  show_critical_paths: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: ant_core
      name: core
      paths:
        - include/ant/core/**
    - component_id: ant_database
      name: database
      paths:
        - include/ant/database/**

refactor(schema): replace Database template param with allocator
  include/ant/database/env.hpp
  include/ant/database/schema.hpp
  tests/unit/ant.test.unit/database/env.unit.cpp
  tests/unit/ant.test.unit/database/schema.unit.cpp
Due: database

refactor(env): remove Database template parameter
  include/ant/database/env.hpp
  tests/unit/ant.test.unit/database/env.unit.cpp
Due: database

refactor(database): remove Database template parameter
  include/ant/database/column.hpp
  include/ant/database/entity_registry.hpp
  include/ant/database/env.hpp
  include/ant/database/table.hpp
  include/ant/database/table_signature.hpp
  tests/unit/ant.test.unit/database/column.unit.cpp
  tests/unit/ant.test.unit/database/entity_registry.unit.cpp
  tests/unit/ant.test.unit/database/table.unit.cpp
  tests/unit/ant.test.unit/database/table_signature.unit.cpp
Due: database

refactor(db)!: Removes database template parameter and simplify API
  CHANGELOG.md
  xmake.lua
Due: none

refactor(entity-registry): accept Entity template parameter
  include/ant/database/entity_registry.hpp
  tests/shared/ant.test.shared/database/shim_database.hpp
  tests/unit/ant.test.unit/database/column.unit.cpp
  tests/unit/ant.test.unit/database/entity_registry.unit.cpp
  tests/unit/ant.test.unit/database/table.unit.cpp
  tests/unit/ant.test.unit/database/table_signature.unit.cpp
Due: database

refactor(database): remove Database template parameter (#60)
  CHANGELOG.md
  include/ant/database/column.hpp
  include/ant/database/entity_registry.hpp
  include/ant/database/env.hpp
  include/ant/database/schema.hpp
  include/ant/database/table.hpp
  include/ant/database/table_signature.hpp
  tests/shared/ant.test.shared/database/shim_database.hpp
  tests/unit/ant.test.unit/database/column.unit.cpp
  tests/unit/ant.test.unit/database/entity_registry.unit.cpp
  tests/unit/ant.test.unit/database/env.unit.cpp
  tests/unit/ant.test.unit/database/schema.unit.cpp
  tests/unit/ant.test.unit/database/table.unit.cpp
  tests/unit/ant.test.unit/database/table_signature.unit.cpp
  xmake.lua
Due: database

refactor(database): move internal types into detail namespace
  include/ant/database/detail/column.hpp
  include/ant/database/detail/component_bitset.hpp
  include/ant/database/detail/component_index.hpp
  include/ant/database/detail/component_meta.hpp
  include/ant/database/detail/table.hpp
  include/ant/database/detail/table_index.hpp
  include/ant/database/detail/table_signature.hpp
  include/ant/database/entity_registry.hpp
  include/ant/database/env.hpp
  include/ant/database/schema.hpp
  tests/unit/ant.test.unit/database/detail/column.unit.cpp
  tests/unit/ant.test.unit/database/detail/table.unit.cpp
  tests/unit/ant.test.unit/database/detail/table_signature.unit.cpp
  tests/unit/ant.test.unit/database/entity_registry.unit.cpp
  tests/unit/ant.test.unit/database/schema.unit.cpp
Due: database

refactor(database): Moves internal types into detail namespace
  CHANGELOG.md
  xmake.lua
Due: none

Update include/ant/database/schema.hpp
  include/ant/database/schema.hpp
Due: database

test(database): adapt tests to component_meta move
  tests/unit/ant.test.unit/database/detail/column.unit.cpp
  tests/unit/ant.test.unit/database/detail/table.unit.cpp
Due: none

refactor(database): move internal types into detail namespace (#62)
  CHANGELOG.md
  include/ant/database/detail/column.hpp
  include/ant/database/detail/component_bitset.hpp
  include/ant/database/detail/component_index.hpp
  include/ant/database/detail/component_meta.hpp
  include/ant/database/detail/table.hpp
  include/ant/database/detail/table_index.hpp
  include/ant/database/detail/table_signature.hpp
  include/ant/database/entity_registry.hpp
  include/ant/database/env.hpp
  include/ant/database/schema.hpp
  tests/unit/ant.test.unit/database/detail/column.unit.cpp
  tests/unit/ant.test.unit/database/detail/table.unit.cpp
  tests/unit/ant.test.unit/database/detail/table_signature.unit.cpp
  tests/unit/ant.test.unit/database/entity_registry.unit.cpp
  tests/unit/ant.test.unit/database/schema.unit.cpp
  xmake.lua
Due: database

docs: Updates README with refreshed intro and usage
  README.md
Due: none

docs: Updates README with refreshed intro and usage (#63)
  README.md
Due: none

refactor(database)!: revamp component & schema internals
  include/ant/database/detail/component_bitset.hpp
  include/ant/database/detail/component_index.hpp
  include/ant/database/detail/component_meta.hpp
  include/ant/database/detail/component_version.hpp
  include/ant/database/detail/component_vtable.hpp
  include/ant/database/detail/table_signature.hpp
  include/ant/database/env.hpp
  include/ant/database/schema.hpp
  include/ant/database/schema_builder.hpp
  tests/unit/ant.test.unit/database/detail/column.unit.cpp
  tests/unit/ant.test.unit/database/detail/component_vtable.unit.cpp
  tests/unit/ant.test.unit/database/detail/table.unit.cpp
  tests/unit/ant.test.unit/database/detail/table_signature.unit.cpp
  tests/unit/ant.test.unit/database/env.unit.cpp
  tests/unit/ant.test.unit/database/schema.unit.cpp
Due: database

refactor(database): use detail component_version in schema builder
  include/ant/database/schema_builder.hpp
  tests/unit/ant.test.unit/database/schema.unit.cpp
Due: database

chore(release)!: bump project version to 0.11.0
  CHANGELOG.md
  xmake.lua
Due: none

refactor(database)!: revamp component & schema internals (#64)
  CHANGELOG.md
  include/ant/database/detail/component_bitset.hpp
  include/ant/database/detail/component_index.hpp
  include/ant/database/detail/component_meta.hpp
  include/ant/database/detail/component_version.hpp
  include/ant/database/detail/component_vtable.hpp
  include/ant/database/detail/table_signature.hpp
  include/ant/database/env.hpp
  include/ant/database/schema.hpp
  include/ant/database/schema_builder.hpp
  tests/unit/ant.test.unit/database/detail/column.unit.cpp
  tests/unit/ant.test.unit/database/detail/component_vtable.unit.cpp
  tests/unit/ant.test.unit/database/detail/table.unit.cpp
  tests/unit/ant.test.unit/database/detail/table_signature.unit.cpp
  tests/unit/ant.test.unit/database/env.unit.cpp
  tests/unit/ant.test.unit/database/schema.unit.cpp
  xmake.lua
Due: database

docs: add API stories and refresh UML diagrams
  docs/stories/access_semantic.md
  docs/stories/changeset.md
  docs/stories/query.md
  docs/stories/system.md
  docs/uml/class/database.pu
  docs/uml/class/draft/database.pu
Due: none

docs(query): fix example usage and minor typo
  docs/stories/query.md
Due: none

docs: add API stories and refresh UML diagrams (#65)
  docs/stories/access_semantic.md
  docs/stories/changeset.md
  docs/stories/query.md
  docs/stories/system.md
  docs/uml/class/database.pu
  docs/uml/class/draft/database.pu
Due: none

add ant benchmarks • dynamic_bitset (googlecpp) benchmark result for ff8d3b0cd01bc058be753aa42ac0b1563fec0061
  dev/bench/data.js
Due: none

refactor(database)!: consolidate entity layout and traits
  include/ant/config.hpp
  include/ant/database/detail/entity_traits.hpp
  include/ant/database/detail/table.hpp
  include/ant/database/entity.hpp
  include/ant/database/entity_registry.hpp
  include/ant/database/entity_traits.hpp
  include/ant/entity.hpp
  tests/compile/ant.test.compile/database/entity_layout.compile.pass.cpp
  tests/compile/ant.test.compile/database/entity_layout_missing_integral_type.compile.fail.cpp
  tests/shared/ant.test.shared/database/entity_types.hpp
  tests/unit/ant.test.unit/database/detail/entity_traits.unit.cpp
  tests/unit/ant.test.unit/database/detail/table.unit.cpp
  tests/unit/ant.test.unit/database/entity_registry.unit.cpp
  tests/unit/ant.test.unit/database/entity_traits.unit.cpp
Due: database

refactor(database)!: consolidate entity layout and traits (#71)
  include/ant/config.hpp
  include/ant/database/detail/entity_traits.hpp
  include/ant/database/detail/table.hpp
  include/ant/database/entity.hpp
  include/ant/database/entity_registry.hpp
  include/ant/database/entity_traits.hpp
  include/ant/entity.hpp
  tests/compile/ant.test.compile/database/entity_layout.compile.pass.cpp
  tests/compile/ant.test.compile/database/entity_layout_missing_integral_type.compile.fail.cpp
  tests/shared/ant.test.shared/database/entity_types.hpp
  tests/unit/ant.test.unit/database/detail/entity_traits.unit.cpp
  tests/unit/ant.test.unit/database/detail/table.unit.cpp
  tests/unit/ant.test.unit/database/entity_registry.unit.cpp
  tests/unit/ant.test.unit/database/entity_traits.unit.cpp
Due: database

refactor(schema): detemplatize schema, builder and component version
  include/ant/database/detail/component_meta.hpp
  include/ant/database/detail/component_version.hpp
  include/ant/database/env.hpp
  include/ant/database/schema.hpp
  include/ant/database/schema_builder.hpp
  tests/unit/ant.test.unit/database/env.unit.cpp
  tests/unit/ant.test.unit/database/schema.unit.cpp
Due: database

feat(database): detemplatize env and simplify storage
  include/ant/database/env.hpp
  src/database/env.cpp
  tests/compile/xmake.lua
  tests/unit/ant.test.unit/database/env.unit.cpp
  tests/unit/xmake.lua
  xmake.lua
Due: database

refactor(detail): detemplatize entity registry
  include/ant/database/detail/entity_registry.hpp
  include/ant/database/entity_registry.hpp
  src/database/detail/entity_registry.cpp
  tests/unit/ant.test.unit/database/detail/entity_registry.unit.cpp
Due: database

refactor(database): detemplatize column into table_column
  include/ant/database/detail/column.hpp
  include/ant/database/detail/table.hpp
  include/ant/database/detail/table_column.hpp
  src/database/detail/table_column.cpp
  tests/unit/ant.test.unit/database/detail/table.unit.cpp
  tests/unit/ant.test.unit/database/detail/table_column.unit.cpp
Due: database

refactor(database): detemplatize table and table_signature
  include/ant/database/detail/table.hpp
  include/ant/database/detail/table_signature.hpp
  src/database/detail/table.cpp
  tests/unit/ant.test.unit/database/detail/table.unit.cpp
  tests/unit/ant.test.unit/database/detail/table_signature.unit.cpp
Due: database

refactor(core): remove custom allocator and container utilities
  include/ant/core/container.hpp
  include/ant/core/memory.hpp
  include/ant/database/detail/table_signature.hpp
  include/ant/database/schema_builder.hpp
Due: core, database

fix(docs): remove "header-only" from project description in README
  README.md
Due: none

refactor(database)!: detemplate database API to runtime types
  CHANGELOG.md
  xmake.lua
Due: none

fix(database/env): assert component type in schema before access
  include/ant/database/env.hpp
Due: database

refactor(database): detemplatize core allocators and storage (#73)
  CHANGELOG.md
  README.md
  include/ant/core/container.hpp
  include/ant/core/memory.hpp
  include/ant/database/detail/column.hpp
  include/ant/database/detail/component_meta.hpp
  include/ant/database/detail/component_version.hpp
  include/ant/database/detail/entity_registry.hpp
  include/ant/database/detail/table.hpp
  include/ant/database/detail/table_column.hpp
  include/ant/database/detail/table_signature.hpp
  include/ant/database/entity_registry.hpp
  include/ant/database/env.hpp
  include/ant/database/schema.hpp
  include/ant/database/schema_builder.hpp
  src/database/detail/entity_registry.cpp
  src/database/detail/table.cpp
  src/database/detail/table_column.cpp
  src/database/env.cpp
  tests/compile/xmake.lua
  tests/unit/ant.test.unit/database/detail/entity_registry.unit.cpp
  tests/unit/ant.test.unit/database/detail/table.unit.cpp
  tests/unit/ant.test.unit/database/detail/table_column.unit.cpp
  tests/unit/ant.test.unit/database/detail/table_signature.unit.cpp
  tests/unit/ant.test.unit/database/env.unit.cpp
  tests/unit/ant.test.unit/database/schema.unit.cpp
  tests/unit/xmake.lua
  xmake.lua
Due: core, database

refactor(database): remove basic_index wrappers and simplify indices
  include/ant/database/detail/component_index.hpp
  include/ant/database/detail/component_meta.hpp
  include/ant/database/detail/entity_location.hpp
  include/ant/database/detail/entity_registry.hpp
  include/ant/database/detail/entity_traits.hpp
  include/ant/database/detail/table.hpp
  include/ant/database/detail/table_column.hpp
  include/ant/database/detail/table_index.hpp
  include/ant/database/detail/table_signature.hpp
  include/ant/database/env.hpp
  include/ant/database/schema_builder.hpp
  src/database/detail/entity_registry.cpp
  src/database/detail/table.cpp
  src/database/detail/table_column.cpp
  src/database/env.cpp
  tests/unit/ant.test.unit/database/detail/entity_registry.unit.cpp
  tests/unit/ant.test.unit/database/detail/entity_traits.unit.cpp
  tests/unit/ant.test.unit/database/detail/table.unit.cpp
  tests/unit/ant.test.unit/database/detail/table_column.unit.cpp
  tests/unit/ant.test.unit/database/detail/table_signature.unit.cpp
  tests/unit/ant.test.unit/database/schema.unit.cpp
Due: database

refactor(core): remove basic_index type and its tests
  include/ant/core/index.hpp
  tests/unit/ant.test.unit/core/index.unit.cpp
Due: core

refactor(entity-registry): use descriptive index name and init location on reuse
  src/database/detail/entity_registry.cpp
Due: none

refactor(core): remove basic_index and associated tests (#75)
  include/ant/core/index.hpp
  include/ant/database/detail/component_index.hpp
  include/ant/database/detail/component_meta.hpp
  include/ant/database/detail/entity_location.hpp
  include/ant/database/detail/entity_registry.hpp
  include/ant/database/detail/entity_traits.hpp
  include/ant/database/detail/table.hpp
  include/ant/database/detail/table_column.hpp
  include/ant/database/detail/table_index.hpp
  include/ant/database/detail/table_signature.hpp
  include/ant/database/env.hpp
  include/ant/database/schema_builder.hpp
  src/database/detail/entity_registry.cpp
  src/database/detail/table.cpp
  src/database/detail/table_column.cpp
  src/database/env.cpp
  tests/unit/ant.test.unit/core/index.unit.cpp
  tests/unit/ant.test.unit/database/detail/entity_registry.unit.cpp
  tests/unit/ant.test.unit/database/detail/entity_traits.unit.cpp
  tests/unit/ant.test.unit/database/detail/table.unit.cpp
  tests/unit/ant.test.unit/database/detail/table_column.unit.cpp
  tests/unit/ant.test.unit/database/detail/table_signature.unit.cpp
  tests/unit/ant.test.unit/database/schema.unit.cpp
Due: core, database

chore(changelog): collapse early versions into 0.1.0 and reset versioning
  CHANGELOG.md
  xmake.lua
Due: none

fix(changelog): correct formatting of the changelog introduction
  CHANGELOG.md
Due: none

fix(changelog): update release date for version 0.1.0
  CHANGELOG.md
Due: none
