Repository 3uclid3/ant: changes, and which Codecov flags are due for each by the changed paths.
All: core, database

docs: normalize indentation in UML diagram
  docs/uml/class/database.pu
Due: none

docs: normalize indentation in UML diagram (#95)
  docs/uml/class/database.pu
Due: none

docs: Update README with expanded setup and layout
  README.md
Due: none

Update README.md
  README.md
Due: none

add ant benchmarks • dynamic_bitset (googlecpp) benchmark result for daf6d86ab8be84a5246c2580017eb72629e5e815
  dev/bench/data.js
Due: none

docs: Update README with expanded setup and layout (#96)
  README.md
Due: none

refactor(database): use stack PMR buffer to avoid heap allocations
  include/ant/database/detail/catalog.hpp
  src/database/detail/catalog.cpp
Due: database

refactor(database): shrink PMR stack buffer for match finding
  include/ant/database/detail/catalog.hpp
Due: database

refactor(database): use stack PMR buffer to avoid heap allocations (#97)
  include/ant/database/detail/catalog.hpp
  src/database/detail/catalog.cpp
Due: database

add ant benchmarks • dynamic_bitset (googlecpp) benchmark result for 9c5844e8c98924283c164c5c2e9d79c8563e55eb
  dev/bench/data.js
Due: none

feat(core): add compile-time type_list utilities
  include/ant/core/type_list.hpp
  tests/compile/ant.test.compile/core/type_list.compile.pass.cpp
  tests/compile/ant.test.compile/core/type_list_index_of_not_found.compile.fail.cpp
Due: core

test(type-list): Adds contains check for empty list
  tests/compile/ant.test.compile/core/type_list.compile.pass.cpp
Due: none

refactor(type-list): standardize templates to use typename
  include/ant/core/type_list.hpp
Due: core

feat(types): Adds typelist utilities
  CHANGELOG.md
Due: none

feat(core): add compile-time type_list utilities (#98)
  CHANGELOG.md
  include/ant/core/type_list.hpp
  tests/compile/ant.test.compile/core/type_list.compile.pass.cpp
  tests/compile/ant.test.compile/core/type_list_index_of_not_found.compile.fail.cpp
Due: core

add ant benchmarks • dynamic_bitset (googlecpp) benchmark result for 25113de68aeae77beedc9a2c75b83a385db434f9
  dev/bench/data.js
Due: none

feat(database)!: add typed env wrapper and refactor env registry
  docs/stories/system.md
  include/ant/database/detail/env_registry.hpp
  include/ant/database/detail/env_signature_traits.hpp
  include/ant/database/env.hpp
  include/ant/database/env_fwd.hpp
  src/database/detail/env_registry.cpp
  tests/compile/ant.test.compile/database/env_get_optional.compile.fail.cpp
  tests/compile/ant.test.compile/database/env_try_get_required.compile.fail.cpp
  tests/unit/ant.test.unit/database/detail/env_registry.unit.cpp
  tests/unit/ant.test.unit/database/env.unit.cpp
Due: database

test: remove unused shared header include from compilation tests
  tests/compile/ant.test.compile/database/detail/component_vtable_of_with_throw_copy.compile.pass.cpp
  tests/compile/ant.test.compile/database/detail/component_vtable_of_with_throw_dtor.compile.fail.cpp
  tests/compile/ant.test.compile/database/detail/component_vtable_of_with_throw_move.compile.fail.cpp
Due: none

feat(signature): adds signature type traits
  include/ant/database/detail/signature_traits.hpp
Due: database

test: remove unused shared header include from compilation tests (#100)
  tests/compile/ant.test.compile/database/detail/component_vtable_of_with_throw_copy.compile.pass.cpp
  tests/compile/ant.test.compile/database/detail/component_vtable_of_with_throw_dtor.compile.fail.cpp
  tests/compile/ant.test.compile/database/detail/component_vtable_of_with_throw_move.compile.fail.cpp
Due: none

feat(env): add signature-based env alias
  docs/stories/system.md
Due: none

feat(docs): clarify environment registry reference
  docs/stories/system.md
Due: none

feat(database)!: add typed env wrapper and refactor env registry (#99)
  docs/stories/system.md
  include/ant/database/detail/env_registry.hpp
  include/ant/database/detail/env_signature_traits.hpp
  include/ant/database/detail/signature_traits.hpp
  include/ant/database/env.hpp
  include/ant/database/env_fwd.hpp
  src/database/detail/env_registry.cpp
  tests/compile/ant.test.compile/database/env_get_optional.compile.fail.cpp
  tests/compile/ant.test.compile/database/env_try_get_required.compile.fail.cpp
  tests/unit/ant.test.unit/database/detail/env_registry.unit.cpp
  tests/unit/ant.test.unit/database/env.unit.cpp
Due: database

add ant benchmarks • dynamic_bitset (googlecpp) benchmark result for d14bf444babfe0f2531fda703200eb2d7a5489bd
  dev/bench/data.js
Due: none

Path conditions:
  core: any of: include/ant/core/**, src/ant/core/**
  database: any of: include/ant/database/**, src/ant/database/**
