Repository 3uclid3/ant: changes, and which Codecov flags are due for each by the changed paths.
All: core, database

test(compile): add force-pass mode for fail cases
  tests/compile/ant.test.compile/database/detail/component_vtable_of_with_throw_copy.compile.pass.cpp
  tests/compile/ant.test.compile/database/detail/component_vtable_of_with_throw_dtor.compile.fail.cpp
  tests/compile/ant.test.compile/database/detail/component_vtable_of_with_throw_move.compile.fail.cpp
  tests/compile/ant.test.compile/database/entity_layout_missing_integral_type.compile.fail.cpp
  tests/compile/xmake.lua
Due: none

test(database): unify shim; add table test stub
  tests/shared/ant.test.shared/database/shim_database.hpp
  tests/unit/ant.test.unit/database/column.unit.cpp
  tests/unit/ant.test.unit/database/entity_index.unit.cpp
  tests/unit/ant.test.unit/database/env.unit.cpp
  tests/unit/ant.test.unit/database/schema.unit.cpp
  tests/unit/ant.test.unit/database/table.unit.cpp
Due: none

feat(database)!: add table/signature and unify row index
  include/ant/core/bitset.hpp
  include/ant/database/column.hpp
  include/ant/database/component_bitset.hpp
  include/ant/database/detail/component_meta.hpp
  include/ant/database/entity_index.hpp
  include/ant/database/table.hpp
  include/ant/database/table_index.hpp
  include/ant/database/table_signature.hpp
  tests/unit/ant.test.unit/database/column.unit.cpp
  tests/unit/ant.test.unit/database/entity_index.unit.cpp
  tests/unit/ant.test.unit/database/schema.unit.cpp
  tests/unit/ant.test.unit/database/table.unit.cpp
  tests/unit/ant.test.unit/database/table_signature.unit.cpp
Due: core, database

fix(test): failing in release because of ASSERT
  tests/unit/ant.test.unit/database/table.unit.cpp
Due: none

fix(table): add missing algorithm include
  include/ant/database/table.hpp
Due: database

fix(column): free block storage in destructor
  include/ant/database/column.hpp
Due: database

fix(table): simplify row removal logic by using row_index directly
  include/ant/database/table.hpp
Due: database

test(database): cover default, move, destroy
  tests/shared/ant.test.shared/database/component_types.hpp
  tests/unit/ant.test.unit/database/column.unit.cpp
  tests/unit/ant.test.unit/database/table.unit.cpp
Due: none

feat(database)!: Add tables, block columns, typed indices (#25)
  include/ant/core/bitset.hpp
  include/ant/core/index.hpp
  include/ant/database/column.hpp
  include/ant/database/component_bitset.hpp
  include/ant/database/detail/component_meta.hpp
  include/ant/database/entity_index.hpp
  include/ant/database/env.hpp
  include/ant/database/schema.hpp
  include/ant/database/table.hpp
  include/ant/database/table_index.hpp
  include/ant/database/table_signature.hpp
  tests/compile/ant.test.compile/database/detail/component_vtable_of_with_throw_copy.compile.pass.cpp
  tests/compile/ant.test.compile/database/detail/component_vtable_of_with_throw_dtor.compile.fail.cpp
  tests/compile/ant.test.compile/database/detail/component_vtable_of_with_throw_move.compile.fail.cpp
  tests/compile/ant.test.compile/database/entity_layout_missing_integral_type.compile.fail.cpp
  tests/compile/xmake.lua
  tests/shared/ant.test.shared/database/component_types.hpp
  tests/shared/ant.test.shared/database/shim_database.hpp
  tests/unit/ant.test.unit/database/column.unit.cpp
  tests/unit/ant.test.unit/database/entity_index.unit.cpp
  tests/unit/ant.test.unit/database/env.unit.cpp
  tests/unit/ant.test.unit/database/schema.unit.cpp
  tests/unit/ant.test.unit/database/table.unit.cpp
  tests/unit/ant.test.unit/database/table_signature.unit.cpp
Due: core, database

docs: Adds changelog and bumps to 0.5.0
  .github/workflows/ci-linux.yml
  .github/workflows/ci-windows.yml
  .github/workflows/coverage.yml
  CHANGELOG.md
  xmake.lua
Due: none

docs: Adds changelog and bumps to 0.5.0 (#26)
  .github/workflows/ci-linux.yml
  .github/workflows/ci-windows.yml
  .github/workflows/coverage.yml
  CHANGELOG.md
  xmake.lua
Due: none

docs: Update project documentation and UML diagrams; add CI badges and changelog guidelines
  AGENTS.md
  README.md
  docs/uml/attach-structural-migration.pu
  docs/uml/class/core.pu
  docs/uml/class/database.pu
  docs/uml/class/draft/database.pu
  docs/uml/database.pu
Due: none

chore: Update CI workflows to ignore changes in the docs directory
  .github/workflows/ci-linux.yml
  .github/workflows/ci-windows.yml
  .github/workflows/coverage.yml
Due: none

docs: Revise contribution guide and README for clarity and structure
  AGENTS.md
  README.md
Due: none

docs: Update changelog with new diagrams, contribution guide overhaul, and README improvements
  CHANGELOG.md
Due: none

docs: Update project documentation and UML diagrams; add CI badges and changelog guidelines (#27)
  .github/workflows/ci-linux.yml
  .github/workflows/ci-windows.yml
  .github/workflows/coverage.yml
  AGENTS.md
  CHANGELOG.md
  README.md
  docs/uml/attach-structural-migration.pu
  docs/uml/class/core.pu
  docs/uml/class/database.pu
  docs/uml/class/draft/database.pu
  docs/uml/database.pu
Due: none

chore: docs, CI ignores, and dependabot config
  .github/dependabot.yml
  .github/workflows/ci-linux.yml
  .github/workflows/ci-windows.yml
  .github/workflows/coverage.yml
Due: none

build(deps): remove unsupported branch-name options; rely on default separator
  .github/dependabot.yml
Due: none

docs(changelog): add dependabot config and CI ignore notes under Unreleased
  CHANGELOG.md
Due: none

chore: docs, CI ignores, and dependabot config (#28)
  .github/dependabot.yml
  .github/workflows/ci-linux.yml
  .github/workflows/ci-windows.yml
  .github/workflows/coverage.yml
  CHANGELOG.md
Due: none

fix: update coverage upload configuration to accept multiple files
  .github/workflows/coverage.yml
Due: none

build(ci): Standardizes Dependabot prefixes
  .github/dependabot.yml
Due: none

build(ci): Standardizes Dependabot prefixes (#32)
  .github/dependabot.yml
Due: none

feat(core)!: rework bitset to track logical size
  include/ant/core/bitset.hpp
  tests/unit/ant.test.unit/core/bitset.unit.cpp
Due: core

test(bitset): adds unit tests for unset bits in both tail and full blocks.
  include/ant/core/bitset.hpp
  tests/unit/ant.test.unit/core/bitset.unit.cpp
Due: core

feat(core)!: rework bitset to track logical size (#33)
  include/ant/core/bitset.hpp
  tests/unit/ant.test.unit/core/bitset.unit.cpp
Due: core

docs(tests): Adds unit test conventions—naming, method grouping, and narrow-scope guidance in AGENTS.md
  AGENTS.md
Due: none

docs: add Copilot contribution guidelines
  .github/copilot.instructions.md
Due: none

Update .github/copilot.instructions.md
  .github/copilot.instructions.md
Due: none

docs: add Copilot contribution guidelines (#34)
  .github/copilot.instructions.md
Due: none

docs(tests): Adds unit test conventions—naming, method grouping, and narrow-scope guidance in AGENTS.md (#35)
  AGENTS.md
Due: none

chore: Removes no-op placeholder file
  touch
Due: none

[WIP] Update version for PR #33 (#36)
  CHANGELOG.md
  xmake.lua
Due: none

test: standardize unit names and assertions
  tests/unit/ant.test.unit/core/index.unit.cpp
  tests/unit/ant.test.unit/core/type_info.unit.cpp
  tests/unit/ant.test.unit/database/column.unit.cpp
  tests/unit/ant.test.unit/database/detail/component_meta.unit.cpp
  tests/unit/ant.test.unit/database/entity_index.unit.cpp
  tests/unit/ant.test.unit/database/env.unit.cpp
  tests/unit/ant.test.unit/database/table.unit.cpp
  tests/unit/ant.test.unit/database/table_signature.unit.cpp
Due: none

Add Codacy security scan workflow
  .github/workflows/codacy.yml
Due: none

test: standardize unit names and assertions (#37)
  tests/unit/ant.test.unit/core/index.unit.cpp
  tests/unit/ant.test.unit/core/type_info.unit.cpp
  tests/unit/ant.test.unit/database/column.unit.cpp
  tests/unit/ant.test.unit/database/detail/component_meta.unit.cpp
  tests/unit/ant.test.unit/database/entity_index.unit.cpp
  tests/unit/ant.test.unit/database/env.unit.cpp
  tests/unit/ant.test.unit/database/table.unit.cpp
  tests/unit/ant.test.unit/database/table_signature.unit.cpp
Due: none

Add Codacy security scan workflow (#38)
  .github/workflows/codacy.yml
Due: none

fix: pin compile_commands autoupdate outputdir
  xmake.lua
Due: none

fix: pin compile_commands autoupdate outputdir (#39)
  xmake.lua
Due: none

fix(clang-tidy): silence warnings in core headers
  include/ant/core/assert.hpp
  include/ant/core/hash.hpp
Due: core

Path conditions:
  core: any of: include/ant/core/**
  database: any of: include/ant/database/**
