Repository 3uclid3/ant: changes, and which Codecov flags are due for each by the changed paths.
All: core, database

codecov.yml:

---
coverage:
  precision: 2
  round: down
  range: "85...100"
  status:
    project:
      default:
        target: 85%
        threshold: 5%
        paths:
          - "include/**"
    patch:
      default:
        informational: true
        target: 75%
        threshold: 100%

comment:
  layout: "condensed_header, components, tree, condensed_footer"
  show_critical_paths: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: ant_core
      name: core
      paths:
        - include/ant/core/**
    - component_id: ant_database
      name: database
      paths:
        - include/ant/database/**

add ant benchmarks • dynamic_bitset (googlecpp) benchmark result for 704d8fdef5b6bbc0aaedbdf2482a65234a04a3c7
  dev/bench/data.js
Due: none

add ant benchmarks • dynamic_bitset (googlecpp) benchmark result for 7822b4fae94cbfbbd468044c9cee7b531c69d8fd
  dev/bench/data.js
Due: none

fix(github): rename copilot instructions
  .github/copilot-instructions.md
Due: none

add ant benchmarks • dynamic_bitset (googlecpp) benchmark result for 111f34d71403205a2f6682283504b769441ffbd1
  dev/bench/data.js
Due: none

fix(github): rename copilot instructions (#49)
  .github/copilot-instructions.md
Due: none

add ant benchmarks • dynamic_bitset (googlecpp) benchmark result for 2b1b5a375695428462716b7604b6085ec77e599c
  dev/bench/data.js
Due: none

feat(ci): reorganize GitHub workflows
  .github/workflows/build-images.yml
  .github/workflows/build-test.yml
  .github/workflows/coverage.yml
  .github/workflows/nightly.yml
  .github/workflows/sanitizers.yml
Due: none

chore(ci): rename workflow to "Build and Test"
  .github/workflows/build-test.yml
Due: none

Update .github/workflows/coverage.yml
  .github/workflows/coverage.yml
Due: none

Renames CI workflow to "Build and Test" (#50)
  .github/workflows/build-images.yml
  .github/workflows/build-test.yml
  .github/workflows/coverage.yml
  .github/workflows/nightly.yml
  .github/workflows/sanitizers.yml
Due: none

add ant benchmarks • dynamic_bitset (googlecpp) benchmark result for ef820f75d4343b12e2247fb260f1e6deeec9ced4
  dev/bench/data.js
Due: none

refactor(database): rename entity_index to entity_registry
  CHANGELOG.md
  docs/uml/class/database.pu
  docs/uml/class/draft/database.pu
  include/ant/database/entity_registry.hpp
  tests/unit/ant.test.unit/database/entity_index.unit.cpp
  tests/unit/ant.test.unit/database/entity_registry.unit.cpp
  xmake.lua
Due: database

refactor(database): rename entity_index to entity_registry (#51)
  CHANGELOG.md
  docs/uml/class/database.pu
  docs/uml/class/draft/database.pu
  include/ant/database/entity_registry.hpp
  tests/unit/ant.test.unit/database/entity_index.unit.cpp
  tests/unit/ant.test.unit/database/entity_registry.unit.cpp
  xmake.lua
Due: database

refactor(allocator): standardize allocator rebinding
  include/ant/core/allocator.hpp
  include/ant/core/container.hpp
  include/ant/database/column.hpp
  include/ant/database/detail/component_meta.hpp
  include/ant/database/entity_registry.hpp
  include/ant/database/env.hpp
  include/ant/database/schema.hpp
  include/ant/database/table.hpp
Due: core, database

refactor(allocator): standardize allocator rebinding (#52)
  include/ant/core/allocator.hpp
  include/ant/core/container.hpp
  include/ant/database/column.hpp
  include/ant/database/detail/component_meta.hpp
  include/ant/database/entity_registry.hpp
  include/ant/database/env.hpp
  include/ant/database/schema.hpp
  include/ant/database/table.hpp
Due: core, database

add ant benchmarks • dynamic_bitset (googlecpp) benchmark result for 024f54621fbca115dfd1fabe437e92a471f33bbf
  dev/bench/data.js
Due: none

feat(core): simplify dynamic_bitset implementation
  include/ant/core/dynamic_bitset.hpp
  include/ant/database/component_bitset.hpp
  tests/shared/ant.test.shared/doctest/generator.hpp
  tests/unit/ant.test.unit/core/dynamic_bitset.unit.cpp
Due: core, database

feat(dynamic-bitset): expose data() and simplify internals
  include/ant/core/dynamic_bitset.hpp
Due: core

refactor(core): simplify dynamic_bitset implementation
  CHANGELOG.md
  xmake.lua
Due: none

refactor(dynamic-bitset): simplify mask clearing
  include/ant/core/dynamic_bitset.hpp
Due: core

refactor(dynamic_bitset): simplify reserve and expand tests
  include/ant/core/dynamic_bitset.hpp
  tests/unit/ant.test.unit/core/dynamic_bitset.unit.cpp
Due: core

fix(dynamic-bitset): add bounds assertions for range ops
  include/ant/core/dynamic_bitset.hpp
Due: core

test(dynamic-bitset): add no-op range tests and expand operator coverage
  tests/unit/ant.test.unit/core/dynamic_bitset.unit.cpp
Due: none

test(core/dynamic_bitset): simplifies tests using odd/even helpers
  tests/unit/ant.test.unit/core/dynamic_bitset.unit.cpp
Due: none

feat(core): simplify dynamic_bitset implementation (#53)
  CHANGELOG.md
  include/ant/core/dynamic_bitset.hpp
  include/ant/database/component_bitset.hpp
  tests/shared/ant.test.shared/doctest/generator.hpp
  tests/unit/ant.test.unit/core/dynamic_bitset.unit.cpp
  xmake.lua
Due: core, database

perf(core): pass type_info to three-way compare by const ref
  include/ant/core/type_info.hpp
Due: core

chore(memory): move rebind_alloc to memory.hpp
  include/ant/core/container.hpp
  include/ant/core/memory.hpp
  include/ant/database/entity_registry.hpp
  include/ant/database/env.hpp
  include/ant/database/schema.hpp
  include/ant/database/table.hpp
Due: core, database

chore(memory): move rebind_alloc to memory.hpp (#55)
  include/ant/core/container.hpp
  include/ant/core/memory.hpp
  include/ant/database/entity_registry.hpp
  include/ant/database/env.hpp
  include/ant/database/schema.hpp
  include/ant/database/table.hpp
Due: core, database

fix(dynamic_bitset): compare blocks in operator<
  include/ant/core/dynamic_bitset.hpp
  tests/unit/ant.test.unit/core/dynamic_bitset.unit.cpp
Due: core

fix(dynamic_bitset): compare blocks in operator< (#56)
  include/ant/core/dynamic_bitset.hpp
  tests/unit/ant.test.unit/core/dynamic_bitset.unit.cpp
Due: core

feat(core): add basic_index::cast and make npos consteval
  include/ant/core/index.hpp
  tests/unit/ant.test.unit/core/index.unit.cpp
Due: core

feat(core): add basic_index::cast and make npos consteval (#57)
  include/ant/core/index.hpp
  tests/unit/ant.test.unit/core/index.unit.cpp
Due: core

refactor(database): replace manual casts with helpers
  include/ant/database/column.hpp
  include/ant/database/env.hpp
  include/ant/database/schema.hpp
  include/ant/database/table.hpp
Due: database

chore(natvis): Adds natvis visualizers
  .natvis
Due: none

chore(natvis): Adds natvis visualizers (#59)
  .natvis
Due: none

chore(database): remove comment
  include/ant/database/schema.hpp
Due: database

fix(database): use rebind_alloc_t for allocator casting
  include/ant/database/env.hpp
Due: database

refactor(database): replace manual casts with helpers (#58)
  .natvis
  include/ant/database/column.hpp
  include/ant/database/env.hpp
  include/ant/database/schema.hpp
  include/ant/database/table.hpp
Due: database
