Repository 3uclid3/ant: changes, and which Codecov flags are due for each by the changed paths.
All: core, database

codecov.yml:

---
coverage:
  precision: 2
  round: down
  range: "85...100"
  status:
    project:
      default:
        target: 85%
        threshold: 15%
        paths:
          - "include/**"
          - "src/**"
    patch:
      default:
        informational: true
        target: 75%
        threshold: 100%

comment:
  layout: "condensed_header, components, tree, condensed_footer"
  show_critical_paths: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: ant_core
      name: core
      paths:
        - include/ant/core/**
        - src/ant/core/**
    - component_id: ant_database
      name: database
      paths:
        - include/ant/database/**
        - src/ant/database/**

feat(database): Introduce core entity handle registry
  CMakeLists.txt
  include/ant/database/detail/entity/entity_location.hpp
  include/ant/database/detail/entity/entity_registry.hpp
  src/database/detail/entity/entity_registry.cpp
  tests/unit/CMakeLists.txt
  tests/unit/src/database/detail/entity/entity_registry_tests.cpp
Due: database

feat(database): Introduce component metadata and schema system
  CMakeLists.txt
  include/ant/database/detail/component/component_index.hpp
  include/ant/database/detail/component/component_meta.hpp
  include/ant/database/detail/component/component_name.hpp
  include/ant/database/detail/component/component_vtable.hpp
  include/ant/database/schema.hpp
  src/database/detail/component/component_index.cpp
  src/database/schema.cpp
  tests/unit/CMakeLists.txt
  tests/unit/src/database/component.cpp
  tests/unit/src/database/component.hpp
  tests/unit/src/database/detail/component/component_meta_tests.cpp
  tests/unit/src/database/detail/component/component_vtable_tests.cpp
  tests/unit/src/database/schema.hpp
  tests/unit/src/database/schema_tests.cpp
Due: database

style(database): formatting
  include/ant/database/detail/component/component_meta.hpp
  tests/unit/src/database/detail/component/component_meta_tests.cpp
Due: database

feat(core): Introduce dynamic bitset with small-size optimization
  CMakeLists.txt
  include/ant/core/bitset.hpp
  tests/unit/CMakeLists.txt
  tests/unit/src/core/bitset_tests.cpp
Due: core

test(core): Add basic_bitset range block boundary & empty iterator tests
  tests/unit/src/core/bitset_tests.cpp
Due: none

feat(core): Introduce compile-time type list utilities
  include/ant/core/type_list.hpp
  tests/compile/CMakeLists.txt
  tests/compile/src/core/type_list.cpp
  tests/compile/src/core/type_list_index_of_not_found.cpp
  tests/compile/src/do_compile.cpp
  tests/compile/src/do_compile_fail.cpp
Due: core

feat(database): Introduce env
  CMakeLists.txt
  include/ant/database/detail/component/component_index.hpp
  include/ant/database/detail/env/env_registry.hpp
  include/ant/database/detail/env/env_signature_traits.hpp
  include/ant/database/detail/signature_traits.hpp
  include/ant/database/env.hpp
  include/ant/database/env_fwd.hpp
  src/database/detail/env/env_registry.cpp
  tests/compile/CMakeLists.txt
  tests/compile/src/database/env/env_get.cpp
  tests/compile/src/database/env/env_get_optional_unsupported_access.cpp
  tests/compile/src/database/env/env_get_optional_unsupported_optional.cpp
  tests/compile/src/database/env/env_get_optional_unsupported_type.cpp
  tests/compile/src/database/env/env_get_unsupported_access.cpp
  tests/compile/src/database/env/env_get_unsupported_required.cpp
  tests/compile/src/database/env/env_get_unsupported_type.cpp
  tests/compile/src/database/env/env_has.cpp
  tests/compile/src/database/env/env_has_unsupported_required.cpp
  tests/compile/src/database/env/env_has_unsupported_type.cpp
  tests/unit/CMakeLists.txt
  tests/unit/src/database/component.hpp
  tests/unit/src/database/detail/env/env_registry_tests.cpp
  tests/unit/src/database/env_tests.cpp
  tests/unit/src/database/schema.hpp
Due: database

test(database): Add schema builder tests for empty build
  tests/unit/src/database/schema_tests.cpp
Due: none

docs(readme): Update example to use get() for optional components
  README.md
Due: none

docs(readme): Remove Features section
  README.md
Due: none

feat(database): Add polymorphic memory resource support to Schema
  include/ant/database/schema.hpp
  src/database/schema.cpp
Due: database

feat(database): Add pmr support to entity_registry
  include/ant/database/detail/entity/entity_registry.hpp
  src/database/detail/entity/entity_registry.cpp
Due: database

feat(database): Add pmr support to env_registry
  include/ant/database/detail/env/env_registry.hpp
  src/database/detail/env/env_registry.cpp
Due: database

feat(database): Add table_column for block-allocated component storage
  CMakeLists.txt
  include/ant/database/detail/catalog/table_column.hpp
  src/database/detail/catalog/table_column.cpp
  tests/unit/CMakeLists.txt
  tests/unit/src/database/detail/catalog/table_column_tests.cpp
Due: database

test(database): Add move constructor and move assignment tests for table_column
  tests/unit/src/database/detail/catalog/table_column_tests.cpp
Due: none

feat(core): Make basic_bitset inplace capacity a template parameter
  include/ant/core/bitset.hpp
  include/ant/database/detail/catalog/table.hpp
  tests/unit/src/core/bitset_tests.cpp
Due: core, database

feat(database): Add table implementation with sparse-set entity and column storage
  CMakeLists.txt
  include/ant/database/detail/catalog/table.hpp
  include/ant/database/detail/component/component_bitset.hpp
  include/ant/database/schema.hpp
  src/database/detail/catalog/table.cpp
  tests/unit/CMakeLists.txt
  tests/unit/src/database/detail/catalog/table_tests.cpp
  tests/unit/src/database/table.hpp
Due: database

feat(core): Support mixed-size bitset compound assignment operators
  include/ant/core/bitset.hpp
  tests/unit/src/core/bitset_tests.cpp
Due: core

test(database): Fix wording in table duplicate insert test name
  tests/unit/src/database/detail/catalog/table_tests.cpp
Due: none

feat(core): Add push method to set a bit, resizing the bitset if needed
  include/ant/core/bitset.hpp
Due: core

feat(database): Add catalog for mapping component signatures to tables
  CMakeLists.txt
  include/ant/database/detail/catalog/catalog.hpp
  src/database/detail/catalog/catalog.cpp
  tests/unit/CMakeLists.txt
  tests/unit/src/database/detail/catalog/catalog_tests.cpp
Due: database

refactor(database): Replace pmr::vector with pmr::deque for table storage
  include/ant/database/detail/catalog/catalog.hpp
Due: database

fix(core): Guard bitset test against out-of-bounds bit indices
  include/ant/core/bitset.hpp
Due: core

fix(database): Correct range() to check _dense emptiness directly
  include/ant/database/schema.hpp
Due: database

refactor(tests): Extract shared test fixtures into a dedicated ant_mock library
  CMakeLists.txt
  include/ant/database/detail/component/component_bitset.hpp
  tests/compile/CMakeLists.txt
  tests/mock/CMakeLists.txt
  tests/mock/include/ant.mock/component.hpp
  tests/mock/include/ant.mock/database/detail/table.hpp
  tests/mock/include/ant.mock/database/schema.hpp
  tests/mock/src/component.cpp
  tests/unit/CMakeLists.txt
  tests/unit/src/database/detail/catalog/catalog_tests.cpp
  tests/unit/src/database/detail/catalog/table_column_tests.cpp
  tests/unit/src/database/detail/catalog/table_tests.cpp
  tests/unit/src/database/detail/component/component_meta_tests.cpp
  tests/unit/src/database/detail/component/component_vtable_tests.cpp
  tests/unit/src/database/detail/env/env_registry_tests.cpp
  tests/unit/src/database/env_tests.cpp
  tests/unit/src/database/schema_tests.cpp
Due: database

style: ran clang-format on project
  include/ant/detail/entity/entity_registry.hpp
  tests/compile/src/env/env_get_optional_unsupported_access.cpp
  tests/compile/src/env/env_get_optional_unsupported_optional.cpp
  tests/compile/src/env/env_get_unsupported_access.cpp
  tests/compile/src/env/env_get_unsupported_required.cpp
  tests/unit/src/detail/entity/entity_registry_tests.cpp
Due: none

build: Centralize CXX_EXTENSIONS and module scan settings at project level
  CMakeLists.txt
  tests/mock/CMakeLists.txt
  tests/unit/CMakeLists.txt
Due: none

build: Add clangd config to strip -freflection compiler flag
  .clangd
Due: none

build: Guard reflection-based component_name_of behind GCC-only preprocessor check
  include/ant/detail/component/component_name.hpp
Due: none

feat(query): Add query system with signature traits, builder, cursor, and row access
  CMakeLists.txt
  include/ant/detail/query/base_query.hpp
  include/ant/detail/query/query_builder.hpp
  include/ant/detail/query/query_cursor.hpp
  include/ant/detail/query/query_signature_traits.hpp
  include/ant/detail/signature_traits.hpp
  include/ant/query.hpp
  include/ant/query_fwd.hpp
  src/detail/query/query_builder.cpp
  src/detail/query/query_cursor.cpp
  tests/compile/CMakeLists.txt
  tests/compile/src/detail/query/query_signature_traits.cpp
  tests/compile/src/detail/query/query_signature_traits_duplicate_parameter.cpp
  tests/compile/src/detail/query/query_signature_traits_duplicate_type.cpp
  tests/compile/src/query/query_row_get.cpp
  tests/compile/src/query/query_row_get_optional_unsupported_access.cpp
  tests/compile/src/query/query_row_get_optional_unsupported_optional.cpp
  tests/compile/src/query/query_row_get_optional_unsupported_type.cpp
  tests/compile/src/query/query_row_get_unsupported_access.cpp
  tests/compile/src/query/query_row_get_unsupported_required.cpp
  tests/compile/src/query/query_row_get_unsupported_type.cpp
  tests/compile/src/query/query_row_has.cpp
  tests/compile/src/query/query_row_has_unsupported_required.cpp
  tests/compile/src/query/query_row_has_unsupported_type.cpp
  tests/unit/CMakeLists.txt
  tests/unit/src/detail/query/query_cursor_tests.cpp
  tests/unit/src/query_tests.cpp
Due: none

test(query): Add cursor traversal and row accessor unit tests
  tests/unit/src/detail/query/query_cursor_tests.cpp
  tests/unit/src/query_tests.cpp
Due: none

refactor(schema): Move component files from `component/` into `schema/` subdirectory
  CMakeLists.txt
  include/ant/detail/catalog/catalog.hpp
  include/ant/detail/catalog/table.hpp
  include/ant/detail/catalog/table_column.hpp
  include/ant/detail/env/env_registry.hpp
  include/ant/detail/query/base_query.hpp
  include/ant/detail/query/query_builder.hpp
  include/ant/detail/query/query_signature_traits.hpp
  include/ant/detail/schema/component_bitset.hpp
  include/ant/detail/schema/component_index.hpp
  include/ant/detail/schema/component_meta.hpp
  include/ant/detail/schema/component_name.hpp
  include/ant/detail/schema/component_vtable.hpp
  include/ant/detail/schema/schema.hpp
  src/detail/catalog/table.cpp
  src/detail/env/env_registry.cpp
  src/detail/schema/component_index.cpp
  src/detail/schema/schema.cpp
  tests/mock/include/ant.mock/detail/schema.hpp
  tests/unit/CMakeLists.txt
  tests/unit/src/detail/catalog/catalog_tests.cpp
  tests/unit/src/detail/catalog/table_column_tests.cpp
  tests/unit/src/detail/catalog/table_tests.cpp
  tests/unit/src/detail/env/env_registry_tests.cpp
  tests/unit/src/detail/query/query_cursor_tests.cpp
  tests/unit/src/detail/schema/component_meta_tests.cpp
  tests/unit/src/detail/schema/component_vtable_tests.cpp
  tests/unit/src/detail/schema/schema_tests.cpp
Due: none

build: Gate component name storage and reflection behind ANT_COMPONENT_NAME_ENABLED
  .clangd
  include/ant/detail/schema/component_meta.hpp
  include/ant/detail/schema/component_name.hpp
Due: none

refactor(test): Extract catalog_fixture and relocate query_builder tests
  tests/mock/CMakeLists.txt
  tests/mock/include/ant.mock/detail/catalog.hpp
  tests/unit/CMakeLists.txt
  tests/unit/src/detail/query/query_builder_tests.cpp
  tests/unit/src/query_tests.cpp
Due: none

test(query): Rename test case and fix const correctness for optional get
  tests/unit/src/query_tests.cpp
Due: none

refactor(env): Replace const_cast with direct raw pointer lookup in mutable get
  include/ant/detail/env/env_registry.hpp
Due: none

test(entity_registry): Add version check after entity creation
  tests/unit/src/detail/entity/entity_registry_tests.cpp
Due: none

test(schema): Guard component name assertions behind ANT_COMPONENT_NAME_ENABLED
  tests/unit/src/detail/schema/component_meta_tests.cpp
  tests/unit/src/detail/schema/schema_tests.cpp
Due: none

refactor(query_builder): Add polymorphic memory resource support to query_builder
  include/ant/detail/query/query_builder.hpp
  src/detail/query/query_builder.cpp
Due: none
