Repository 3uclid3/ant: changes, and which Codecov flags are due for each by the changed paths.
All: core, database

codecov.yml:

---
coverage:
  precision: 2
  round: down
  range: "85...100"
  status:
    project:
      default:
        threshold: 1%
        target: auto
        paths:
          - "include/**"
    patch:
      default:
        target: 85%
        threshold: 1%

comment:
  layout: "condensed_header, components, tree, condensed_footer"
  show_critical_paths: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto    
  individual_components:
    - component_id: ant_core
      name: core
      paths:
        - include/ant/core/**
    - component_id: ant_database
      name: database
      paths:
        - include/ant/database/**

ci(codecov): Raises coverage thresholds to 5%
  codecov.yml
Due: none

fix(schema): update vtable check to compare against schema type
  tests/unit/ant.test.unit/database/schema.unit.cpp
Due: none

feat(database): add component schema & metadata (#14)
  codecov.yml
  include/ant/database/component_index.hpp
  include/ant/database/detail/component_meta.hpp
  include/ant/database/schema.hpp
  tests/compile/ant.test.compile/database/detail/component_vtable_of_with_throw_copy.compile.pass.cpp
  tests/compile/ant.test.compile/database/detail/component_vtable_of_with_throw_dtor.compile.fail.cpp
  tests/compile/ant.test.compile/database/detail/component_vtable_of_with_throw_move.compile.fail.cpp
  tests/shared/ant.test.shared/database/component_types.hpp
  tests/unit/ant.test.unit/database/detail/component_meta.unit.cpp
  tests/unit/ant.test.unit/database/schema.unit.cpp
Due: database

fix(ci): stabilize xmake cache on Windows
  .github/workflows/ci.yml
Due: none

fix(ci): rename dependency hash step for clarity
  .github/workflows/ci.yml
Due: none

fix(ci): stabilize xmake cache on Windows (#16)
  .github/workflows/ci.yml
Due: none

ci: Fixes xmake cache, splits workflows
  .github/workflows/build-images.yml
  .github/workflows/ci-linux.yml
  .github/workflows/ci-windows.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Due: none

ci: Clarifies configure step in workflows
  .github/workflows/ci-linux.yml
  .github/workflows/ci-windows.yml
  .github/workflows/coverage.yml
Due: none

fix(ci): Corrects weekly cache key generation
  .github/workflows/ci-linux.yml
  .github/workflows/coverage.yml
Due: none

ci: drop xmake setup action
  .github/workflows/ci-linux.yml
  .github/workflows/coverage.yml
Due: none

chore(ci): trims whitespace in Windows workflow
  .github/workflows/ci-windows.yml
Due: none

ci: Renames CI jobs for clarity in split workflows
  .github/workflows/ci-linux.yml
  .github/workflows/coverage.yml
Due: none

ci: split workflows and fix xmake caching (#17)
  .github/workflows/build-images.yml
  .github/workflows/ci-linux.yml
  .github/workflows/ci-windows.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Due: none

refactor(schema)!: template on Database, not Allocator
  include/ant/database/detail/component_meta.hpp
  include/ant/database/schema.hpp
  tests/unit/ant.test.unit/database/schema.unit.cpp
Due: database

fix(schema): Align index cast with container type
  include/ant/database/schema.hpp
Due: database

refactor(schema)!: template on Database, not Allocator (#18)
  include/ant/database/detail/component_meta.hpp
  include/ant/database/schema.hpp
  tests/unit/ant.test.unit/database/schema.unit.cpp
Due: database

feat(database): add schema-driven env store
  include/ant/database/env.hpp
  tests/unit/ant.test.unit/database/env.unit.cpp
Due: database

fix(codecov): adjust coverage targets and thresholds for project and patch
  codecov.yml
Due: none

feat(env): delete copy constructors and enable move semantics for basic_env
  include/ant/database/env.hpp
Due: database

feat(database): add schema-driven env store (#19)
  codecov.yml
  include/ant/database/env.hpp
  tests/unit/ant.test.unit/database/env.unit.cpp
Due: database

feat(core): add allocator helper aliases
  include/ant/core/allocator.hpp
Due: core

feat(database): add entity index with versioning
  include/ant/database/entity_index.hpp
  include/ant/database/table_index.hpp
  tests/unit/ant.test.unit/database/entity_index.unit.cpp
Due: database

Apply suggestions from code review
  include/ant/database/entity_index.hpp
Due: database

fix(entity_index): add missing newline for code clarity
  include/ant/database/entity_index.hpp
Due: database

Add versioned entity index and allocator helpers (#20)
  include/ant/core/allocator.hpp
  include/ant/database/entity_index.hpp
  include/ant/database/table_index.hpp
  tests/unit/ant.test.unit/database/entity_index.unit.cpp
Due: core, database

refactor(core)!: unify allocator rebind helpers
  include/ant/core/allocator.hpp
  include/ant/database/detail/component_meta.hpp
  include/ant/database/entity_index.hpp
  include/ant/database/env.hpp
Due: core, database

refactor(core)!: unify allocator rebind helpers (#21)
  include/ant/core/allocator.hpp
  include/ant/database/detail/component_meta.hpp
  include/ant/database/entity_index.hpp
  include/ant/database/env.hpp
Due: core, database

feat(core): add dynamic bitset with allocators
  include/ant/core/bitset.hpp
  include/ant/database/schema.hpp
  tests/unit/ant.test.unit/core/bitset.unit.cpp
Due: core, database

Apply suggestions from code review
  tests/unit/ant.test.unit/core/bitset.unit.cpp
Due: none

fix(codecov): update project coverage threshold from 5% to 15%
  codecov.yml
Due: none

feat(core): add dynamic bitset with allocators (#22)
  codecov.yml
  include/ant/core/bitset.hpp
  include/ant/database/schema.hpp
  tests/unit/ant.test.unit/core/bitset.unit.cpp
Due: core, database

feat(database): Add block-based column storage
  include/ant/database/column.hpp
  include/ant/database/detail/component_meta.hpp
  tests/unit/ant.test.unit/database/column.unit.cpp
Due: database

feat(core): Adds tagged opaque index type
  include/ant/core/index.hpp
  tests/compile/ant.test.compile/core/index_convert_mismatch_tag.fail.cpp
  tests/unit/ant.test.unit/core/index.unit.cpp
Due: core

feat(index): add safe integral ctor, forbid mixed ops
  include/ant/core/index.hpp
  tests/compile/ant.test.compile/core/index_assign_copy_with_different_index_type.fail.cpp
  tests/compile/ant.test.compile/core/index_assign_move_with_different_index_type.fail.cpp
  tests/compile/ant.test.compile/core/index_compare_with_different_index_type.fail.cpp
  tests/compile/ant.test.compile/core/index_ctor_copy_with_different_index_type.fail.cpp
  tests/compile/ant.test.compile/core/index_move_copy_with_different_index_type.fail.cpp
Due: core

Update tests/compile/ant.test.compile/core/index_move_copy_with_different_index_type.fail.cpp
  tests/compile/ant.test.compile/core/index_move_copy_with_different_index_type.fail.cpp
Due: none

feat(core): Adds tagged opaque index type (#23)
  include/ant/core/index.hpp
  tests/compile/ant.test.compile/core/index_assign_copy_with_different_index_type.fail.cpp
  tests/compile/ant.test.compile/core/index_assign_move_with_different_index_type.fail.cpp
  tests/compile/ant.test.compile/core/index_compare_with_different_index_type.fail.cpp
  tests/compile/ant.test.compile/core/index_ctor_copy_with_different_index_type.fail.cpp
  tests/compile/ant.test.compile/core/index_move_copy_with_different_index_type.fail.cpp
  tests/unit/ant.test.unit/core/index.unit.cpp
Due: core

refactor(database)!: migrate table_index and table_row_index to basic_index
  include/ant/database/table_index.hpp
Due: database

refactor(database)!: adopt basic_index for component_index and propagate through env/schema
  include/ant/database/component_index.hpp
  include/ant/database/env.hpp
  include/ant/database/schema.hpp
Due: database

refactor(database)!: use enums for table indices (#24)
  include/ant/database/component_index.hpp
  include/ant/database/env.hpp
  include/ant/database/schema.hpp
  include/ant/database/table_index.hpp
Due: database

fix(database): update npos usage to call as a function
  include/ant/core/index.hpp
  include/ant/database/detail/component_meta.hpp
  include/ant/database/env.hpp
  include/ant/database/schema.hpp
  include/ant/database/table_index.hpp
  tests/unit/ant.test.unit/database/entity_index.unit.cpp
  tests/unit/ant.test.unit/database/schema.unit.cpp
Due: core, database
